@{
    ViewData["Title"] = "CARTÃO PRESENTE DECATHLON 40€ | Detalhe Prémio | Uma curva Proeminente | Michelin";
    var currentUrl = Context.Request.Path;
    var seleccionBtn = false;
    if (currentUrl.ToString().Contains("-seleccion"))
    {
        seleccionBtn = true;
    }
    var hiddenidsession = ViewBag.hiddenidsession;
}
@section Styles{
<link rel="stylesheet" href="~/css/promomichelin.css" />
    <style>
        
        #containerRegalo {
            max-width: 750px;
        }

    </style>
}
<div class="content contentMichelinRegalo">
    <div class="container containerMichelinRegalo">
        <div id="containerRegalo">
            <div class="volver">
                @if (seleccionBtn)
                {
                    <a href="@Url.Action("Regalo", "SeleccioneumaticoPT")">< Voltar</a>
                }
                else
                {
                    <a href="@Url.Action("Index", "RegalosPT")">< Voltar</a>
                }
            </div>
            <div class="row" style="margin: 30px 0px 15px 0px;">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 leftPremio">
                    <img src="~/images/premios/pt/regalo_decathlon.jpg" alt="CARTÃO PRESENTE DECATHLON 40€" class="img-fluid" style="max-width:300px;" />
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="titPremio">
                        CARTÃO PRESENTE DECATHLON 40€
                    </div>
                    <div class="txtPremio">
                        <p>PREPARE-SE PARA O OUTONO!</p>
                        <p>Com o regresso às aulas, vem a necessidade de vestuario e calçado para os mais novos. Troque o seu Cartão Presente Decathlon por um produto em qualquer loja Decathlon ou mesmo online, em www.decathlon.pt.</p>
                        <p>Pode utilizar o seu Cartão Presente até gastar a totalidade do saldo, utilizando uma só vez ou em várias vezes.</p>
                    </div>
                    @if (seleccionBtn)
                    {
                        <form id="regalo-detail-form" action="seleccion-regalo-detail-form-pt" method="post">
                            <input type="hidden" name="hiddenidsession" value="@hiddenidsession">
                            <div class="frmBtn"><div class="btnPremio">Selecionar</div></div>
                        </form>
                    }
                    else
                    {
                        <div class="frmBtn"><div class="btnPremio Volver">Voltar</div></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $("body").addClass("bindex_det");
        $(".btnPremio").on('click', function () {
            var form = $("form[id=regalo-detail-form]");
            form.submit();
        });
        $(".Volver").on('click', function () {
            window.location.href = "@Url.Action("Index", "RegalosPT")";
        });
    </script>
}